@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< Updated upstream

html {
  scroll-behavior: smooth;
}
=======
>>>>>>> Stashed changes

* {
  font-family: "brim-narrow-combined-3", sans-serif;
  font-weight: 400;
  font-style: normal;
<<<<<<< Updated upstream
}

#helseDiv:hover,
#avhengighetDiv:hover,
#ulykkerDiv:hover {
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

#navigering {
  animation: navigering 5s infinite alternate;
}

@keyframes navigering {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(170px);
  }
}
=======
}
>>>>>>> Stashed changes
